video 
{ 
    display: flex; 
    justify-content: center;
    align-items: center; 
    min-height: 100vh
    width: 45%;;
} 
body
{
    background-image: url(../Image/Mercedes.jpg);
    background-size: 100%;
}
a {
	cursor: pointer;
	transition: all 200ms linear;
}
a:hover {
	text-decoration: none;
}
.btn {
  background: #0E0D0D;
  border: 1px solid #EEE1E1;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
  box-sizing: border-box;
  color: #EEE1E1;
  cursor: pointer;
  display: inline-block;
  font-family: nunito,roboto,proxima-nova,"proxima nova",sans-serif;
  font-size: 16px;
  font-weight: 800;
  line-height: 16px;
  min-height: 40px;
  outline: 0;
  padding: 12px 14px;
  text-align: center;
  text-rendering: geometricprecision;
  text-transform: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
}

.btn:hover,
.btn:active {
  background-color: initial;
  background-position: 0 0;
  color: #FF4742;
}

.btn:active {
  opacity: .5;
}
