body 
{ 
    display: flex; 
    justify-content: center;
    align-items: center; 
    background-image: url(../Image/H_Baku.jpg);
    min-height: 100vh;
    background-size: 100%;
} 
.card 
{ 
    position: relative; 
    min-width: 300px; 
    transition: 0.5s ease-in-out; 
    
} 
.card:hover 
{ 
    width: 600px; 
    height: 380px; 
} 
.card .imgBx 
{ 
    box-shadow: 0 15px 45px rgba(0, 0, 0); 
    overflow: hidden; 
}
.card .imgBx img 
{ 
    width: 100%; 
    height: auto; 
    transition: transform 0.5s ease-in-out;
} 
.card:hover .imgBx img 
{
    transform: scale(1.5);
} 
.card .details 
{ 
    position: absolute; 
    top: 0; 
    left: 0;
    width: 100%; 
    height: 100%; 
    background: rgba(0, 0, 0, 0.6); 
    color: #fff;
    display: flex; 
    flex-direction: column; 
    justify-content: center;
    align-items: center; 
    transform: translateY(100%); 
    transition: transform 0.5s ease-in-out; 
} 
.card:hover .details 
{ 
    transform: translateX(0%);
} 
.card .details h3 
{ 
    margin: 0;
} 
.card .details h4 
{ 
    margin: 10px 0; 
} 
.card .details ul 
{ 
    list-style: none; 
    padding: 0; 
    margin: 0; 
    display: flex; 
} 
.card .details ul li 
{ 
    margin: 0 5px;
}
a {
	cursor: pointer;
	transition: all 200ms linear;
}
a:hover {
	text-decoration: none;
}
.btn {
  background: #0E0D0D;
  border: 1px solid #0E0D0D;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
  box-sizing: border-box;
  color: #EEE1E1;
  cursor: pointer;
  display: inline-block;
  font-family: nunito,roboto,proxima-nova,"proxima nova",sans-serif;
  font-size: 16px;
  font-weight: 800;
  line-height: 16px;
  min-height: 40px;
  outline: 0;
  padding: 12px 14px;
  text-align: center;
  text-rendering: geometricprecision;
  text-transform: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
}

.btn:hover,
.btn:active {
  background-color: initial;
  background-position: 0 0;
  color: #FF4742;
}

.btn:active {
  opacity: .5;
}
